.terminal-base {
  background-color: transparent;
  border: none;
  color: rgb(222, 255, 247);
  font-family: "Cousine", monospace;
  caret-color: transparent;
  font-size: 16px;
  padding: 0;
}
.terminal-base:focus {
  outline: none;
}

/*
  #term-body-content-editable {
    caret-color: transparent;
  }
  */

.term-body-content-editable {
  margin-top: 4px;
}
.term-body-content-editable > p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.term-body-content-editable:focus {
  outline: none;
}
.term-body-content-editable[contenteditable="true"] {
  flex-grow: 1;
}
