#term-container {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: -12px;
  height: calc(100vh - 12px);
}

#term-border {
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  height: 100%;
}

#term-header {
  background-color: aqua;
  height: 36px;
  display: flex;
  align-items: center;
}
#term-header-red {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: red;
  margin-left: 6px;
}
#term-header-yellow {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: yellow;
  margin-left: 6px;
}
#term-header-green {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: green;
  margin-left: 6px;
}

#term-body {
  padding: 8px;
}
