#term-container {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: -12px;
  height: calc(100vh - 12px);
}

#term-border {
  border: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  height: 100%;
}

#term-header {
  background-color: rgb(241, 241, 241);
  height: 24px;
  display: flex;
  align-items: center;
}
#term-header-red {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ff605c;
  margin-left: 6px;
}
#term-header-yellow {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffbd44;
  margin-left: 6px;
}
#term-header-green {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #00ca4e;
  margin-left: 6px;
}

#term-body {
  padding: 8px;
}
