#term-container {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: -12px;
  height: calc(100vh - 12px);
}

#term-border {
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  height: 100%;
}

#term-header {
  background-color: aqua;
  height: 24px;
}

#term-body {
  padding: 8px;
}
